name: Helm Chart Tests

on:
  push:
    branches: [ "feature/*" ]

permissions:
  contents: read
  id-token: write

jobs:
  helm-test:
    runs-on: ubuntu-latest
    environment: dev
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Helm
        uses: azure/setup-helm@v3
        with:
          version: 'latest'

      - name: Configure AWS Credentials
        uses: aws-actions/configure-aws-credentials@v4
        with:
          aws-region: eu-west-2
          role-to-assume: 'arn:aws:iam::299858989921:role/github-actions-oidc-role'
          role-session-name: GitHubActionsSessionTest

      - name: Lint Helm charts
        run: |
          aws eks update-kubeconfig --name eks-cluster-dev
